/* page basic color */
body{
    background: #e29c9c;    
    border: solid black 5px;
}

.name{
    font-size: 4em;
    font-family: fantasy;
    text-align: center;
    padding-top: 3%;
    background: #a27373;
    padding-bottom: 2%;
}
@media all and (min-width: 900px){
    .name{
        border-radius: 70%;
    }
}

h2{
    background: #a27373;
    text-align: center;
    font-size: 3em;
    margin: 0px 15px 15px 15px;
    padding: 1.5% 0;
}
@media all and (min-width: 900px){
    #concerts h2{
        border-radius: 90% 20%;
    }
    #hire h2{
        border-radius: 90% 20%;
    }
    #about h2{
        border-radius: 20% 90%;
    }
    #teaching h2, #videos h2{
        border-radius: 20% 90%;
    }
}
/* paragraph size and coloring */
p{
    font-size: 1em;
    margin: 0px 2px;
}
 @media all and (min-width: 900px){
     p{
         font-size: 1.5em;
         margin: 0px 10px;
     }
 }
/* respnonsive shape for imag */
/* mobile first */
img{
    border-radius: 120%;
}
/* create flex-box for header and nav for responsive design */
.nav, .concertNav{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav, .concertNav{
   flex: 1;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
}
/* change nav bar layouts to row at larger screen */
@media all and (min-width: 900px) {
    .nav{
      flex-direction: row;
      width: 100%;
    }
  }
/* make nav larger font on larger screens */
  @media all and (min-width: 1000px){
      .nav{
          font-size: 140%;
      }
  }
 /* style nav li's and spacing */
    .nav{
        padding: 0% 5% 10% 5%;
    }

  a{
    color: #383838;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
 
  }

  a:hover{
      color: #5D478B;
  }
    /* About */
    /* mobile first */
    .aboutImg{
        text-align: center;
    }
    .aboutText{
        text-align: center;
        margin: 5px 8px;    
    }

    @media all and (min-width: 900px){
        .aboutImg{
            float: left;
            margin: 12% 5% 12% 2%;           
        }
        .aboutText{
            text-align: left;
            padding-top: 2%;
            margin-bottom: 2%;
        }
    }

    /* Upcoming performances */
    /* mobile first */
    .gigsImg{
        text-align: center;
    }
    .gigsText{
        text-align: center;
        padding-top: 5%;
    }

    .concertNav{
        font-size: 1em;
    }
    /* bigger screens */
    @media all and (min-width: 900px){
        .gigsText{
            padding-bottom: 3%;
        
        }
    }

    @media all and (min-width: 1100px){
        .concertNav{
            font-size: 130%;
        }
    }

  /* Teaching */
  /* mobile first */
    .teachImg{
        text-align: center;
        padding-top: 2%;

    }
    .teachText{
        text-align: center;
        padding-top: 5%;

    }
    .linkA, .linkB{
        text-align: center;
        font-size: .75em;
        color: slategray;
    }
/* bigger screens */
    @media all and (min-width: 900px){
        .linkA, .linkB{
            font-size: 1em;
        }
    }
    .teachText{
        padding-bottom: 3%;
    }
        /* create space between links, smaller size on mobile first */


  /* Hire */
    /* mobile first */
    .hireText{
        text-align: center;
        padding-bottom: 5%;

    }

    .wrapper{
        text-align: center;
    }

    #hire{
        padding-top: 10%;
    }

  /* bigger screens */
  @media all and (min-width: 900px){
      #hire{
        border-radius: 90% 20%;
          padding-top: 5%
      }
      .hireText{
          padding-bottom: 3%;
      }
}

  /* Videos */
  /* Creat flexbox for embedded youtube videos */
    #videos{
        padding-top: 10%;
    }

    .videoBox{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        text-align: center;
    }
iframe {
    padding: 0 5%;
    margin-top: 4%;
}
/* ---css trick to resize embedded youtube video in smaller screens */
@media all and (max-width: 500px){
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    margin-top: 2%;
}
}

  /* bigger screens */
  @media all and (min-width: 900px){

    .videobox{
        flex-direction: row;
    }
}
/* --make embedded videos smaller--- */


  /* Footer/Contact Info */
  footer{
      background: #a27373;
      padding: 1% 1% 1%;
      margin: 0px 15px 20px 15px;
      font-size: 1em;
  }
  .footerEmail{
        font-size: .75em;
        color: black;
  }
  #return{
    font-size: .75em;
    text-align: center;
    margin-top: 1%;
  }
#return a{
    color: #383838;
}
  /* bigger screens */
  @media all and (min-width: 900px){
    footer{
        border-radius: 70%;
        padding: 3% 3% 1%;
    }
}